.img {
  background-image: url("../../assets/pexels-photo-326279.jpeg");
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.left {
  width: 50%;
  background-color: white;
  padding: 2rem;
}
@media (max-width: 400px) {
  .left {
    width: 78%;
  }
}
