.MainHeader {
  background-color: #802222;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
.CartButton {
  display: flex;
  align-items: center;
  color: white;
  padding: 0.4rem 1rem;
  background-color: rgb(87 4 4);
  border: 2px solid rgb(87 4 4);
  border-radius: 15px;
  cursor: pointer;
}
.CartButton:hover {
  background-color: rgb(127 16 16);
}
.MainHeader > p {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
.CartButton p {
  margin: 0;
}
